*

!/.gitlab
!/.gitlab/**
!/.travis
!/.travis/**
!/assets
!/assets/embed
!/assets/embed/**
!/assets/private
!/assets/private/**
!/cmake
!/cmake/**
!/code-style
!/code-style/**
!/doc
!/doc/**
!/src
!/src/**
#ignore generated shader headers
/src/sim/graphics/compiledShaders
/src/sim/graphics/compiledShaders/**
!/test
!/test/**

!/.gitattributes
!/.gitignore
!/.gitlab-ci.yml
!/.travis.yml
!/appveyor.yml

!/.clang-format

!/build.py
!/conanfile.py
!/CMakeLists.txt
!/CMakeSettings.json
!/LICENSE
!/README.md